.about {
    display: flex;
    align-items: center;
    height: 880px;
    background-color: var(--secondary-color);
}

.about__details, .skills, .skills__rate {
    width: 50%;
    height: 10rem;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--nav-bg-color);
    border: 3px solid var(--nav-bg-color);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    background-color: #f5f5f5;
    letter-spacing: 1px;
    text-transform: uppercase; /* fix this */
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.about__details:hover, .skills:hover, .skills__rate:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    border: 3px solid var(--border-color);
}
.about__icon {
    font-size: 1.5rem;
}

