.project_slider {
  position: relative;
  width: 1050px;
  height: 500px;
}
/* ///////////////// */

.arrow {
  width: 110px;
  height: 5rem;
  cursor: pointer;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}

.to_next {
  position: absolute;
  top: 50%;
  right: -12%;
}
.to_previous {
  position: absolute;
  top: 50%;
  left: -12%;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.arrow-top,
.arrow-bottom {
  position: absolute;
  top: 50%;
  padding: 0.6rem;
  width: 100%;
  background-color: var(--primary-color);
}

#dark .arrow-top,
#dark .arrow-bottom {
  background-color: var(--secondary-color);
}

.arrow-top:after,
.arrow-bottom:after {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.15s;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -ms-transition: all 0.15s;
  -o-transition: all 0.15s;
  background-color: var(--arrow-color);
}

.arrow-top {
  transform: rotate(45deg);
  transform-origin: bottom right;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.arrow-top:after {
  left: 100%;
  right: 0;
  transition-delay: 0s;
}

.arrow-bottom {
  transform: rotate(-45deg);
  transform-origin: top right;
}

.arrow-bottom:after {
  left: 0;
  right: 100%;
  transition-delay: 0.15s;
}

.arrow:hover .arrow-top:after {
  left: 0;
}

.arrow:hover .arrow-bottom:after {
  right: 0;
  transition-delay: 0s;
  transition-delay: 0.15s;
}

/* ///////////////// */
.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}
.project_btn {
  text-align: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px var(--primary-color2);
  width: 10rem;
  padding: 0.2rem;
  display: inline-block;
  margin-right: 1rem;
  cursor: pointer;
}
.project_btn:hover {
  background-color: var(--arrow-color);
  background-image: var(--primary-color_2);
  transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
}

/* ///////////////// */

.project_image {
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 10px #262424;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.project_image:hover {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
  border: 3px solid var(--primary-color);
  transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
}
#dark .project_image:hover {
  border: 3px solid var(--secondary-color);
}

@media (max-width: 768px) {
  .project_slider {
    position: relative;
    width: 90%;
  }
  .arrow {
    width: 40px;
    height: 5rem;
  }
  .to_next {
    position: absolute;
    top: 55%;
    right: 5%;
  }
  .to_previous {
    position: absolute;
    top: 55%;
    left: 5%;
  }
  .project_btn {
    margin-bottom: 5px;
    width: 6rem;
    padding: 0.2rem;
    margin-right: 0rem;
  }
}
