.projects {
    position: relative;
    height: 840px;
    padding-top: 17rem;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

