.intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
}
#dark .intro {
  background-image: var(--primary-color_1);
}

.intro_info {
  position: relative;
  padding-bottom: 2rem;
}
/* 
.intro_info::before {
  content: "";
  position: absolute;
  top: -2rem;
  left: -6rem;
  width: 4rem;
  height: 12.5rem;
  border-top: 5px solid;
  border-left: 5px solid var(--border-color);
  border-bottom: 5px solid;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  animation: border_colorize 4s ease-in-out infinite;
  -webkit-animation: border_colorize 4s ease-in-out infinite;
}

.intro_info::after {
  content: "";
  position: absolute;
  top: -2rem;
  right: -6rem;
  width: 4rem;
  height: 12.5rem;
  border-top: 5px solid;
  border-right: 5px solid var(--border-color);
  border-bottom: 5px solid;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  animation: border_colorize 2s ease-in-out infinite;
  -webkit-animation: border_colorize 2s ease-in-out infinite;
} */
/* 
@keyframes border_colorize {
  0% {
    border-top: 5px solid #36ae7c;
    border-bottom: 5px solid #eb5353;
  }

  50% {
    border-top: 5px solid #36ae7c;
    border-bottom: 5px solid #eb5353;
  }
  100% {
    border-top: 5px solid #eb5353;
    border-bottom: 5px solid #36ae7c;
  }
} */

.intro__text {
  position: relative;
  border-radius: 4px;
  background-image: var(--primary-color_2);
  color: var(--secondary-color);
  padding: 0.5rem;
}

.glitch {
  font-size: 2.5rem;
  text-align: center;
  text-shadow: 0 0 1px var(--border-color);
  color: var(--primary-color2);
}

.intro__job {
  position: absolute;
  bottom: 5rem;
  left: 0;
  display: flex;
  align-items: center;
}

.intro__location {
  position: absolute;
  bottom: 5rem;
  right: 0;
  display: flex;
  align-items: center;
}

.intro__icon {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.intro__kind {
  margin-left: 0.4rem;
  text-transform: uppercase;
  color: var(--primary-color);
}

#dark .intro__icon {
  color: var(--secondary-color);
}

#dark .intro__kind {
  color: var(--secondary-color);
}

/* Skills */
.skills_icon {
  font-size: 2.5rem;
  margin: 0rem 0.5rem;
}

/* Icons */
.js_icon {
  color: var(--border-color);
}
.react_icon {
  color: #61dbfb;
}

.redux_icon {
  color: #764abc;
}
.html_icon {
  color: rgb(243, 70, 40);
}
.css_icon {
  color: #42a2ba;
}
.sass_icon {
  color: #cd6799;
}
.twc_icon {
  color: #38bdf8;
}
.bt_icon {
  color: #7311f6;
}
.git_icon {
  color: #f54d27;
}
.node_icon {
  color: #74ab63;
}
.figma_icon {
  color: #ea4c1d;
}
.ps_icon {
  color: #31a8ff;
}

@media (max-width: 900px) {
  .intro_info::after {
    display: none;
  }
  .intro_info::before {
    display: none;
  }
}

/* tablet */
@media (max-width: 800px) {
  .intro_info {
    width: 35rem;
    margin: 0 auto;
  }
  .intro__text h2 {
    font-size: 2rem;
  }

  .intro__job {
    bottom: 4rem;
  }

  .intro__location {
    bottom: 4rem;
  }

  .intro__icon {
    font-size: 1.5rem;
  }
  .intro_info::before {
    display: none;
  }
  .intro_info::after {
    display: none;
  }
  .skills_icon {
    font-size: 2rem;
    margin: 0rem 0.5rem;
  }
}

/* mobil */
@media (max-width: 575px) {
  .intro_info {
    width: 23rem;
    margin: 0 auto;
  }
  .intro__text h2 {
    font-size: 1.5rem;
  }
  .intro__job {
    bottom: 5.7rem;
  }
  .intro__location {
    bottom: 5.7rem;
    right: 5px;
  }
  .intro__icon {
    font-size: 0.9rem;
  }
  .intro__kind {
    font-size: 0.5rem;
    margin-left: 0.1rem;
    margin-top: 0.1rem;
  }

  .skills_icon {
    font-size: 1.5rem;
    margin: 0rem 0.2rem;
  }
  .intro_info::before {
    display: none;
  }

  .intro_info::after {
    display: none;
  }
}

/* Glitch */
.title_glitch .glitch::before,
.title_glitch .glitch::after {
  content: "Hi, I'm Ammar. I design & build user interfaces.";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: #333;
  color: #ea4c1d;
}
.title_glitch .glitch::before {
  left: 8px;
  text-shadow: 2px 0 #fff200;
  animation: glitch 5s infinite linear;
  -webkit-animation: glitch 5s infinite linear;
}
.title_glitch .glitch::after {
  left: 8px;
  text-shadow: -2px 0 #fe3a7f;
  animation: glitch 4s infinite linear;
  -webkit-animation: glitch 4s infinite linear;
}

@-moz-keyframes glitch {
  0% {
    clip: rect(20px, 9999px, 83px, 0);
  }
  5% {
    clip: rect(87px, 9999px, 95px, 0);
  }
  10% {
    clip: rect(17px, 9999px, 60px, 0);
  }
  15% {
    clip: rect(38px, 9999px, 78px, 0);
  }
  20% {
    clip: rect(60px, 9999px, 74px, 0);
  }
  25% {
    clip: rect(73px, 9999px, 15px, 0);
  }
  30% {
    clip: rect(99px, 9999px, 53px, 0);
  }
  35% {
    clip: rect(37px, 9999px, 95px, 0);
  }
  40% {
    clip: rect(44px, 9999px, 47px, 0);
  }
  45% {
    clip: rect(92px, 9999px, 44px, 0);
  }
  50% {
    clip: rect(62px, 9999px, 100px, 0);
  }
  55% {
    clip: rect(49px, 9999px, 63px, 0);
  }
  60% {
    clip: rect(24px, 9999px, 69px, 0);
  }
  65% {
    clip: rect(74px, 9999px, 27px, 0);
  }
  70% {
    clip: rect(71px, 9999px, 40px, 0);
  }
  75% {
    clip: rect(30px, 9999px, 53px, 0);
  }
  80% {
    clip: rect(21px, 9999px, 45px, 0);
  }
  85% {
    clip: rect(30px, 9999px, 32px, 0);
  }
  90% {
    clip: rect(22px, 9999px, 67px, 0);
  }
  95% {
    clip: rect(71px, 9999px, 52px, 0);
  }
  100% {
    clip: rect(71px, 9999px, 58px, 0);
  }
}
@-webkit-keyframes glitch {
  0% {
    clip: rect(20px, 9999px, 83px, 0);
  }
  5% {
    clip: rect(87px, 9999px, 95px, 0);
  }
  10% {
    clip: rect(17px, 9999px, 60px, 0);
  }
  15% {
    clip: rect(38px, 9999px, 78px, 0);
  }
  20% {
    clip: rect(60px, 9999px, 74px, 0);
  }
  25% {
    clip: rect(73px, 9999px, 15px, 0);
  }
  30% {
    clip: rect(99px, 9999px, 53px, 0);
  }
  35% {
    clip: rect(37px, 9999px, 95px, 0);
  }
  40% {
    clip: rect(44px, 9999px, 47px, 0);
  }
  45% {
    clip: rect(92px, 9999px, 44px, 0);
  }
  50% {
    clip: rect(62px, 9999px, 100px, 0);
  }
  55% {
    clip: rect(49px, 9999px, 63px, 0);
  }
  60% {
    clip: rect(24px, 9999px, 69px, 0);
  }
  65% {
    clip: rect(74px, 9999px, 27px, 0);
  }
  70% {
    clip: rect(71px, 9999px, 40px, 0);
  }
  75% {
    clip: rect(30px, 9999px, 53px, 0);
  }
  80% {
    clip: rect(21px, 9999px, 45px, 0);
  }
  85% {
    clip: rect(30px, 9999px, 32px, 0);
  }
  90% {
    clip: rect(22px, 9999px, 67px, 0);
  }
  95% {
    clip: rect(71px, 9999px, 52px, 0);
  }
  100% {
    clip: rect(71px, 9999px, 58px, 0);
  }
}
@-o-keyframes glitch {
  0% {
    clip: rect(20px, 9999px, 83px, 0);
  }
  5% {
    clip: rect(87px, 9999px, 95px, 0);
  }
  10% {
    clip: rect(17px, 9999px, 60px, 0);
  }
  15% {
    clip: rect(38px, 9999px, 78px, 0);
  }
  20% {
    clip: rect(60px, 9999px, 74px, 0);
  }
  25% {
    clip: rect(73px, 9999px, 15px, 0);
  }
  30% {
    clip: rect(99px, 9999px, 53px, 0);
  }
  35% {
    clip: rect(37px, 9999px, 95px, 0);
  }
  40% {
    clip: rect(44px, 9999px, 47px, 0);
  }
  45% {
    clip: rect(92px, 9999px, 44px, 0);
  }
  50% {
    clip: rect(62px, 9999px, 100px, 0);
  }
  55% {
    clip: rect(49px, 9999px, 63px, 0);
  }
  60% {
    clip: rect(24px, 9999px, 69px, 0);
  }
  65% {
    clip: rect(74px, 9999px, 27px, 0);
  }
  70% {
    clip: rect(71px, 9999px, 40px, 0);
  }
  75% {
    clip: rect(30px, 9999px, 53px, 0);
  }
  80% {
    clip: rect(21px, 9999px, 45px, 0);
  }
  85% {
    clip: rect(30px, 9999px, 32px, 0);
  }
  90% {
    clip: rect(22px, 9999px, 67px, 0);
  }
  95% {
    clip: rect(71px, 9999px, 52px, 0);
  }
  100% {
    clip: rect(71px, 9999px, 58px, 0);
  }
}
@keyframes glitch {
  0% {
    clip: rect(20px, 9999px, 83px, 0);
  }
  5% {
    clip: rect(87px, 9999px, 95px, 0);
  }
  10% {
    clip: rect(17px, 9999px, 60px, 0);
  }
  15% {
    clip: rect(38px, 9999px, 78px, 0);
  }
  20% {
    clip: rect(60px, 9999px, 74px, 0);
  }
  25% {
    clip: rect(73px, 9999px, 15px, 0);
  }
  30% {
    clip: rect(99px, 9999px, 53px, 0);
  }
  35% {
    clip: rect(37px, 9999px, 95px, 0);
  }
  40% {
    clip: rect(44px, 9999px, 47px, 0);
  }
  45% {
    clip: rect(92px, 9999px, 44px, 0);
  }
  50% {
    clip: rect(62px, 9999px, 100px, 0);
  }
  55% {
    clip: rect(49px, 9999px, 63px, 0);
  }
  60% {
    clip: rect(24px, 9999px, 69px, 0);
  }
  65% {
    clip: rect(74px, 9999px, 27px, 0);
  }
  70% {
    clip: rect(71px, 9999px, 40px, 0);
  }
  75% {
    clip: rect(30px, 9999px, 53px, 0);
  }
  80% {
    clip: rect(21px, 9999px, 45px, 0);
  }
  85% {
    clip: rect(30px, 9999px, 32px, 0);
  }
  90% {
    clip: rect(22px, 9999px, 67px, 0);
  }
  95% {
    clip: rect(71px, 9999px, 52px, 0);
  }
  100% {
    clip: rect(71px, 9999px, 58px, 0);
  }
}
