.intro  {
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    background-color: var(--secondary-color);
}

.intro__image-container {
   text-align: center;
}
.intro__image {
    width: 10rem;
    height: 15rem;
    border-radius: 4px;
}
.intro_info {
    display: flex;
    align-items: center;
    justify-content: center;
}
.intro__text {
    position: relative;
    border-radius: 4px;
    background-color: var(--primary-color2);
}

.intro__text h2 {
    font-size: 2.5rem;
    text-align: center;
    padding: 0.4rem;
    text-shadow: 0 0 5px rgb(6, 65, 129);
    color: var(--secondary-color);
}

.intro__job {
    position: absolute;
    bottom: 5rem;
    left: 0;
    display: flex;
    align-items: center;
}
.intro__location {
    position: absolute;
    bottom: 5rem;
    right: 0;
    display: flex;
    align-items: center;
}
.intro__icon{
    font-size: 1.5rem;
}
.intro__job p,.intro__location p {
    margin-left: 0.4rem;
    text-transform: uppercase;
    font-weight: 500;
}

.moreInfo {
    text-align: center;
    padding: 1rem 0 1rem;
}

@media  (max-width: 716px) {
    .intro__text {
        font-size: 1.2rem;
    }
 
}
