.contact {
    position: relative;
    height: 45rem;
    display: flex;
    color: var(--secondary-color);
    background-color: var(--primary-color2);
}

.email_container {
    width: 60%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 7rem;
}
.email_container input {
    width: 50%;
    margin-bottom: 2rem;
}
.email_container textarea {
    width: 50%;
    height: 8rem;
    margin-bottom: 2rem;
}
.email_btn {
    width: 50%;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
}
.email_btn:hover {
    background-color: var(--border-color);
}

/* Email Status */
.email_status_pending {
    color: var(--bg-color);
}
.email_status_success {
    color: rgb(83, 235, 12);
}
.email_status_faild {
    color: red;
}
.eResult {
    padding-top: 0.5rem;
}

/* Contact Info */
.contact_infos {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--border-color);
}
.contact_title {
    margin-bottom: 2rem;
    font-size: 4rem;
}
.personal_info div {
    margin-bottom: 1rem;
    margin-left: 2.5rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
}
.personal_info div p{
    margin-left: 1rem;
}
@media (max-width: 820px) {
    .contact {
        display: block;
        height: 60rem;
    }
    .email_container {
        width: 100%;
        padding-top: 8rem;
        padding-bottom: 5rem;
        margin-left: 0rem;
        align-items: center;
    }
    .email_container label{
        margin-bottom: 2.7rem;
    }
    
    /* Contact Info */
    .contact_infos {
        width: 100%;
        padding: 1.2rem 0;
    }
    .contact_title {
        margin-bottom: 0.5rem;
        font-size: 3rem;
    }
    .personal_info div {
        margin-bottom: 0.5rem;
        margin-left: 2rem;
        font-size: 1.4rem;
    }
    .personal_info div p{
        margin-left: 0.5rem;
    }
}


@media (max-width: 1150px) {
    .contact_title {
        margin-bottom: 0.2rem;
        margin-top: 1rem;
        font-size: 2.5rem;
    }
   
    .personal_info div {
        margin-left: 2rem;
        font-size: 1.3rem;
    }
   
}