::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2b2929;
}

::-webkit-scrollbar-thumb {
  background: #36ae7c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #eb5353;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #161616;
  --primary-color2: #2b2929;
  --secondary-color: #eaeaea;
  --nav-bg-color: #380f6d;
  --instagram-color: #e1306c;
  --nav-fontSize: 1.2rem;
  --nav-fontWeight: normal;
  --border-color: #ddac0d;
  --bg-color: #facd60;
}
body {
  font-family: "Saira Condensed", sans-serif;
}
a {
  text-decoration: none;
}
.main {
  position: absolute;
  top: 5rem;
  left: 0;
  width: 100%;
  height: 100%;
}
