* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Saira Condensed', sans-serif;
}

:root {
  --primary-color: #161616;
  --primary-color2: #2b2929;
  --secondary-color: #eaeaea;
  --nav-bg-color: #380f6d;
  --instagram-color: #e1306c;
  --nav-fontSize: 1.2rem;
  --nav-fontWeight: normal;
  --border-color: #ddac0d;
  --bg-color: #facd60;
}

.loading_bg {
  position: absolute;
  top: 5rem;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  font-size: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color2);
  background-image: linear-gradient(var(--primary-color2));
  animation: bgAni 4s linear infinite;
  animation-delay: 3s;
}

@keyframes bgAni {
  to {
    transform: translateY(200%);
}
}

.text {
  color: #ddac0d;
  animation: glow 3s ease-in-out;
}
 
@keyframes glow {
  0% {
    box-shadow: 0px 0px;
    color: #ddac0d;

  }

  25% {
    box-shadow: 15px 0px;
    color: #e1306c;
  }

  50% {
    box-shadow: 15px 15px;
    padding: 1rem;
    text-shadow: 0px 80px;
    background-color: #380f6d;
    color: #2b2929;
  }

  75% {
    color: #380f6d;
    box-shadow: 0px 0px;
    text-shadow: 0px -80px;
  }

  100% {
    color: #ddac0d;
    padding: 1rem;
    box-shadow: -15px -15px;
    text-shadow: 0px 0px;

  }
} 